<div class="container">
  <h2>Перехід на новий навчальний рік</h2>
  <form [formGroup]="transititionForm"  class="component" (ngSubmit)="formSubmit()">
    <div formArrayName="newClassTitle">
      <mat-card *ngFor="let class of activeClasses | filter:isActive:isNotEmpty:isCurrentYear; let index = index">
        <mat-accordion>
          <mat-expansion-panel (opened)="panelOpenState[index] = true" (closed)="panelOpenState[index] = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="className">{{class.className}}</div> 
                <div class="currentYear">{{class.classYear}}</div>
              </mat-panel-title> 
              <mat-panel-description>
                {{panelOpenState[index] ? 'Список учнів' : 'Переглянути список учнів'}}
              </mat-panel-description>
            </mat-expansion-panel-header>
              <mat-list role="list" *ngFor="let pupil of activeClasses[index]['pupilList'] | keyvalue; let i = index">
                <mat-list-item role="listitem"><span>{{i+1}})</span><a href="students/{{pupil.id}}" target="_blank">{{(pupil.value).lastname}} {{(pupil.value).firstname}}</a></mat-list-item>
              </mat-list>
          </mat-expansion-panel>
        </mat-accordion>
        <input attr.data-class-year="{{activeClasses[index].classYear}}" attr.data-class-title="{{activeClasses[index].className}}" (click)="focusToFormControl($event)" class="new-class-name" id={{index}} placeholder="нова назва класу" [formControlName]="index" />
        <div class="validation-error"
          *ngIf="newClassTitle.controls[index].invalid">
          <p *ngIf="newClassTitle.controls[index].errors.pattern">Недопустима назва (Приклад: "8-А")</p>
          <p *ngIf="newClassTitle.controls[index].errors.class_exist">Клас вже існує в наступному н. р.</p>
          <p *ngIf="newClassTitle.controls[index].errors.title_dublicate">Назви класів співпадають</p>
        </div>
      </mat-card>  
    </div>
    <button mat-raised-button class="submit" type="submit" [disabled]="!transititionForm.valid" > Перевести учнів </button>
  </form>
</div>
<!-- Toggle menu -->
<input type="checkbox" id="toggle-1">
<div class="toggle-stripe">
  <div class="wrap">
      <label for="toggle-1"><i class="material-icons">filter_list</i></label>
      <div class="checkbox-group">
        <mat-checkbox [(ngModel)]="isActive" >Активний</mat-checkbox>
        <mat-checkbox [(ngModel)]="isNotEmpty" >З учнями</mat-checkbox>
        <mat-checkbox [(ngModel)]="isCurrentYear" >Поточний рік</mat-checkbox>
      </div>      
  </div>
  <div class="marks">
    <div *ngIf="isActive">А</div>
    <div *ngIf="isNotEmpty">У</div>
    <div *ngIf="isCurrentYear">П</div>
  </div>
</div>
