@import "../../../styles.scss";

mat-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 2px;

  mat-accordion {width: 68%;}

  input {
    width: 25%;
    height: 35px;
    position: relative;
    font-size: 0.45em;
    @media (min-width: 481px) and (max-width: 767px) { font-size: 0.55em; }
    @media (min-width: 768px) { font-size: 0.8em; }
  }   
}

mat-panel-title {
  flex-direction: column;
  align-items: center;
}

mat-expansion-panel-header {padding: 0 10px;}

mat-list:nth-of-type(2n+1){
  background-color: #e8e8e891;  
}

mat-list-item {
  a {
    color: #404040;  
    text-decoration: none;
  }
  span { 
    display: inline-block;
    padding: 0 5px;}
}

.className {font-weight: 800;}
.new-class-name{ 
  padding-left: 5px;
  overflow: hidden;
}

.validation-error{ 
  position: absolute;
  z-index: 2;
  bottom: -8px;
  right: 10px;
  color:red;
  p {font-size: 0.5em;}
}

.submit {
  display: block;
  background: $main-color;
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 10px auto; 
  font-size: 1em;
}

.container{
  text-align: center;
  h2 {font-size: 1.5em;}
  margin: 20px auto;
  @media (min-width: 481px) and (max-width: 767px) { width: 80%; }
  @media (min-width: 768px) { width: 70%; }
}
