<form [formGroup]="transititionForm"  class="component" (ngSubmit)="formSubmit()">
  <div formArrayName="newClassTitle">
    <table class="table">
          <thead>
          <tr>
              <th scope="col">Учні поточного класу</th>
              <th scope="col">Поточний клас</th>
              <th scope="col">Поточний рік</th>
              <th scope="col">Новий клас</th>
          </tr>
          </thead>
    <tr class="form-group" *ngFor="let class of newClassTitle.controls | keyvalue; let index = index">
      <td>
        <label for="spoiler_{{class.id}}">Учні {{classes[index].className}} класу</label>
        <div>
          <ul *ngFor="let pupil of classes[index]['pupilList'] | keyvalue">
            <li><a href="students/{{pupil.id}}" target="_blank">{{(pupil.value).lastname}} {{(pupil.value).firstname}}</a></li>
          </ul>
        </div>
      </td>

        <td> {{classes[index].className}} </td>
        <td> {{classes[index].classYear}} </td>
        
        <label>Назва класу</label>
        <input class="form-control" formControlName="{{index}}" />

        <div
            *ngIf="class.value.errors && (class.value.dirty || class.value.touched)">
          <p *ngIf="class.value.errors.pattern">Недопустима назва (Приклад: "8-А")</p>
          <p *ngIf="class.value.errors.nameError">Такий клас уже ствоений</p>
        </div>


          <div *ngIf="class.value.invalid && class.value.touched "> Не вказано назву класу </div>
    </tr>
  </table>    
</div>
  <input class="submit" type="submit" value="SUBMIT" [disabled]="!transititionForm.valid" >
</form>