<div class="container">
  <div class="avatar-flip" *ngIf="teacher">
    <img [src]="teacher.avatar" height="150" width="150" />
  </div>

  <form
    class="example-form"
    [formGroup]="teacherForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ім'я" formControlName="teacherFirstname" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        type="text"
        matInput
        placeholder="Прізвище"
        formControlName="teacherLastname"
      />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="По-батькові"
        formControlName="teacherPatronymic"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Дата народження"
        formControlName="teacherDateOfBirth"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        matInput
        type="email"
        placeholder="Електронна адреса"
        formControlName="teacherEmail"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Логін" formControlName="teacherLogin" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder="Номер телефону"
        formControlName="teacherPhone"
      />
    </mat-form-field>

    <mat-form-field *ngIf="editMode" class="example-full-width">
      <input
        type="password"
        matInput
        placeholder="Старий пароль"
        formControlName="oldPassword"
      />
    </mat-form-field>

    <mat-form-field *ngIf="editMode" class="example-full-width">
      <input
        type="password"
        matInput
        placeholder="Новий пароль"
        formControlName="newPassword"
      />
    </mat-form-field>
    <mat-form-field *ngIf="editMode" class="example-full-width">
      <input
        type="password"
        matInput
        placeholder="Повторіть новий пароль"
        formControlName="oldPassword"
      />
    </mat-form-field>

    <button 
      [disabled]="!teacherForm.valid"
      mat-raised-button color="primary" 
      type="submit"
    >
      Зберегти
    </button>

    <button 
      mat-raised-button
      type="button"
      (click)="onCancel()"
    >
      Відмінити
    </button>

  </form>
</div>
