body {
  background-color: #f0f0f0;
  font-family: roboto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 30em;
  min-width: 15em;
  margin: 5em auto 7.5em;
  background-color: #fff;
  padding: 0 1.25em 1.25em;
  border-radius: 1em;
  box-shadow: 0 0.12em  0.3em rgba(0, 0, 0, 0.075);
  text-align: center;
}

.avatar {
  border-radius: 6.25em;
  overflow: hidden;
  height: 9.3em;
  width: 9.3em;
  position: relative;
  margin: auto;
  top: -3.75em;
  box-shadow: 0 0 0 1em #f0f0f0;
}

h2 {
  margin-top: 0em;
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.3em;
  color: #333;
}
h4 {
  margin-top: 0.3em;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 1.25em;
  color: #333;
}
p {
  font-size: 1em;
  line-height: 1.25em;
  margin-bottom: 1.25em;
  color: #666;
  text-align: start;
}

.form {
  min-width: 9.3em;
  max-width: 31em;
  width: 100%;
}

.full-width {
  width: 100%;
}

button {
  padding: 0 1em;
  margin: 0 0.5em 0 0;
}

mat-form-field:first-child {
  margin-top: 1.25em;
}
