table {
  width: 100%;
}

#scrollTop {
  position: fixed;
  bottom: 2.3em;
  right: 1em;
  transition: bottom 0.9s;
  color: #1565c0;
  cursor: pointer;
}

.btn {
  font-size: 3em;
}

#scrollBottom {
  position: fixed;
  bottom: -3.3em;
  right: 1em;
  transition: 0.9s;
  color: #1565c0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  table {
    width: 65vw !important;
  }

  mat-form-field {
    width: 65%;
  }
}
.mat-row:hover {
  background-color: #dcdcdc;
  cursor: pointer;
}

.elipsis {
  margin-left: 50%;
}

