table {
  width: 100%;
}

.editDot{
  font-size: 1.5em;
  padding-left: 7px;
}

.mat-form-field {
  width: 100%;
}

.threeDots{
  cursor: pointer;
}

.example-button-row {
  position: fixed;
  bottom: 3em;
  right: 1em;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  font-size: 1.6em;
}

.mat-row:hover{
  background-color: #dcdcdc;
  cursor: pointer;
}