<app-header></app-header>
<div class="wrap-content">
  <div class="container">
    <p class="title">Приєднання вчителя до журналу</p>
    <form [formGroup]="myForm">
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="teacherId">
          <ng-template matStepLabel>Виберіть вчителя</ng-template>
          <mat-form-field>
            <mat-select placeholder="" formControlName="teacherId">
              <mat-option *ngFor="let item of teachers" [value]="item.id">{{
                item.firstname + " " + item.lastname
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button
              mat-button
              [disabled]="myForm.controls.teacherId.errors?.required"
              matStepperNext
            >
              Далі
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="subjectId">
          <ng-template matStepLabel>Виберіть предмет</ng-template>
          <mat-form-field>
            <mat-select placeholder="" formControlName="subjectId">
              <mat-option
                *ngFor="let item of subjects"
                [value]="item.subjectId"
                >{{ item.subjectName }}</mat-option
              >
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button
              mat-button
              matStepperNext
              [disabled]="myForm.controls.subjectId.errors?.required"
            >
              Далі
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="classId">
          <ng-template matStepLabel>Виберіть клас</ng-template>
          <mat-form-field>
            <mat-select placeholder="" formControlName="classId">
              <mat-option *ngFor="let item of classes" [value]="item.id">{{
                item.className
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button
              mat-button
              matStepperNext
              [disabled]="myForm.controls.classId.errors?.required"
            >
              Далі
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Підтвердити</ng-template>
          Ви зробили вибір?
          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button (click)="stepper.reset()">Спочатку</button><br />
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!myForm"
              (click)="onSubmit(myForm.value)"
            >
              Зберегти
            </button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </div>
</div>
<footer>
  <div fxHide.gt-xs>
    <app-footer></app-footer>
  </div>
</footer>
