<div class="wrap-content">
  <div class="container">
    <p class="title">Приєднання вчителя до журналу</p>
    <form [formGroup]="myForm">
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="teacher">
          <ng-template matStepLabel>{{ teacherChoise }}</ng-template>
          <mat-form-field>
            <mat-select
              placeholder=""
              formControlName="teacher"
              (selectionChange)="addTeacherChoice($event)"
            >
              <mat-option *ngFor="let item of teachers" [value]="item">{{
                item.firstname + " " + item.lastname
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button
              mat-button
              [disabled]="myForm.controls.teacher.errors?.required"
              matStepperNext
            >
              Далі
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="subject">
          <ng-template matStepLabel>{{ subjectChoise }}</ng-template>
          <mat-form-field>
            <mat-select
              placeholder=""
              formControlName="subject"
              (selectionChange)="addSubjChoice($event)"
            >
              <mat-option *ngFor="let item of subjects" [value]="item">{{
                item.subjectName
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button
              mat-button
              matStepperNext
              [disabled]="myForm.controls.subject.errors?.required"
            >
              Далі
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="class">
          <ng-template matStepLabel>{{ classesChoise }}</ng-template>
          <mat-form-field>
            <mat-select
              placeholder=""
              formControlName="class"
              (selectionChange)="addClassesChoice($event)"
            >
              <mat-option *ngFor="let item of classes" [value]="item">{{
                item.className
              }}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button
              mat-button
              matStepperNext
              [disabled]="myForm.controls.class.errors?.required"
            >
              Далі
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Підтвердіть вибір</ng-template>
          <div>
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button (click)="stepper.reset()">Спочатку</button><br />
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!myForm"
              (click)="onSubmit(myForm.value)"
            >
              Зберегти
            </button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
  </div>
</div>
