<!--static sections in footer menu-->
<a *ngFor="let i of routes" routerLink="{{i.path}}" routerLinkActive="active">
  <div class="icons">
    <mat-icon>{{i.icon}}</mat-icon>
    <br>
    <span>{{i.name}}</span>
  </div>
</a>
<!--show selected section from matMenuTriggerFor menu-->
<a routerLink="{{pathActive}}" [ngClass]="{active: active}">
  <div class="icons">
    <mat-icon>{{iconActive}}</mat-icon>
    <br>
    <span>{{nameActive}}</span>
  </div>
</a>
<!--3 dots toggle menu-->
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<!--link for toggle menu-->
<mat-menu #menu="matMenu">
  <!--loop of sections from matMenuTriggerFor menu-->
  <div *ngFor="let i of routesMore">
    <a routerLink="{{i.path}}">
      <button mat-menu-item>
        <mat-icon>{{i.icon}}</mat-icon>
        <span>{{i.name}}</span>
      </button>
    </a>
    <mat-divider></mat-divider>
  </div>
  <!--logout button-->
  <a (click)="auth.logout()">
    <!-- logout function -->
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Вийти</span>
    </button>
  </a>
</mat-menu>