<a routerLink="/admin-panel/students">
  <div class="icons">
    <mat-icon>school</mat-icon>
    <br>
    <span>УЧНІ</span>
  </div>
</a>
<a routerLink="/admin-panel/teachers">
  <div class="icons">
    <mat-icon>person</mat-icon>
    <br>
    <span>ВЧИТЕЛІ</span>
  </div>
</a>
<a routerLink="/admin-panel/groups">
  <div class="icons">
    <mat-icon>group_work</mat-icon>
    <br>
    <span>КЛАСИ</span>
  </div>
</a>

<!--3 dots toggle menu-->
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>

<!--links for toggle menu-->
<mat-menu #menu="matMenu">
  <a routerLink="/admin-panel/subjects">
    <button mat-menu-item>
      <mat-icon>library_books</mat-icon>
      <span>Предмети</span>
    </button>
  </a>
  <mat-divider></mat-divider>
  <a routerLink="/admin-panel">
    <button mat-menu-item>
      <mat-icon>today</mat-icon>
      <span>Розклад</span>
    </button>
  </a>
  <mat-divider></mat-divider>
  <a routerLink="/admin-panel">
    <button mat-menu-item>
      <mat-icon>person_add</mat-icon>
      <span>Додати вчителя до журналу</span>
    </button>
  </a>
  <mat-divider></mat-divider>
  <a routerLink="/admin-panel">
    <button mat-menu-item>
      <mat-icon>queue</mat-icon>
      <span>Новий навчальний рік</span>
    </button>
  </a>
  <mat-divider></mat-divider>
  <a routerLink="/admin-panel" (click)="auth.logout()"> <!-- logout function -->
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Вийти</span>
    </button>
  </a>
</mat-menu>
