@import "../../../../styles.scss";

a {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 50px;
  overflow: hidden;
}

.mat-menu-item { // 3 dots toggle menu
  color: $dark-color;
  .mat-icon {
    color: $dark-color;
  }
}

.icons {
  line-height: 30%; // icons on bottom navigation
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-size: 0.5em; // text under icons
  }

}
