<form [formGroup]="addStudent" (ngSubmit)="onSubmit(addStudent.value)">
  <mat-form-field>
    <input placeholder="Прізвище *" matInput type="text" class="form-input" formControlName="lastname">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Ім'я *" matInput type="text" class="form-input" formControlName="firstname">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="По батькові *" matInput type="text" class="form-input" formControlName="patronymic">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Дата народження *" matInput type="date" class="form-input" formControlName="dateOfBirth">
  </mat-form-field>

  <!-- <mat-form-field>
    <mat-select placeholder="Виберіть клас" formControlName="classId">
      <mat-option *ngFor="let oneClas of allClasses" [value]="oneClas.id">
        {{oneClas.className + " " + oneClas.classYear}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->


  <mat-form-field><input placeholder="studentData.firstname" matInput type="text" class="form-input" formControlName="login"></mat-form-field>
  <mat-form-field><input placeholder="Телефон" matInput type="tel" class="form-input" formControlName="phone"></mat-form-field>
  <mat-form-field><input placeholder="Електронна адреса" matInput type="email" class="form-input" formControlName="email"></mat-form-field>
  <!-- <mat-form-field><input placeholder="Додати аватар" matInput type="button" class="form-input" formControlName="avatar"></mat-form-field> -->


  <button mat-raised-button type="submit" [disabled]="!addStudent.valid">Submit</button>
</form>