mat-accordion {
  width: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  margin: 1em;
}

.mat-expansion-panel {
  margin: 1em auto !important;
}

mat-form-field,
mat-radio-group {
  display: flex;
  justify-content: center;
}
mat-radio-group {
  justify-content: space-evenly;
}

.cdk-column-num,
.cdk-column-academicYear,
mat-radio-group {
  color: #6b6767;
}

.cdk-column-className,
.cdk-column-lastname {
  font-size: 1.2em;
}

.mat-row:hover {
  background-color: #dcdcdc;
  cursor: pointer;
}

table {
  width: 100%;
}

mat-expansion-panel {
  margin: 1em;
}

::ng-deep .journal-comp-exp-pnl {
  & .mat-form-field-wrapper {
    width: 90%;
  }

  & .mat-expansion-panel-body {
    padding: 0px !important;
  }

  & .journal-divider {
    margin-top: 1em !important;
  }
}

@media only screen and (min-width: 600px) {
  table,
  mat-accordion {
    width: 65vw !important;
  }
}
