.wrapper {
  margin: 1em;
}

.mat-expansion-panel {
  max-width: 40em !important;
  margin: 1em auto !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
}

mat-form-field {
  display: flex;
  justify-content: center;
}

::ng-deep .mat-form-field-wrapper {
  width: 90%;
}

::ng-deep .mat-elevation-z8 {
  box-shadow: none;
}

.cdk-column-num,
.cdk-column-academicYear {
  color: #6b6767;
}

.cdk-column-className {
  font-size: 1.2em;
}
