<div id="wrapper">
  <mat-accordion class="journal-comp-exp-pnl">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Фільтр"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-radio-group
      aria-label="Вибрана опція"
      [(ngModel)]="chosenOption"
      (change)="handleChange($event)"
    >
      <div class="radio-block">
        <mat-radio-button value="activeClasses">Активні класи</mat-radio-button>
        <mat-radio-button value="inactiveClasses"
          ><b>Не</b> активні класи</mat-radio-button
        >

        <mat-radio-button value="teachers">По викладачах</mat-radio-button>
      </div>
    </mat-radio-group>

    <mat-divider class="journal-divider"></mat-divider>

    <table
      class="mat-elevation-z8"
      #sortCol="matSort"
      matSort
      mat-table
      [dataSource]="dataSource"
    >
      <ng-container matColumnDef="nums">
        <th mat-header-cell *matHeaderCellDef>№</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <ng-container
        [matColumnDef]="chosenOption === 'teachers' ? 'lastname' : 'className'"
      >
        <th mat-sort-header mat-header-cell *matHeaderCellDef>
          {{ chosenOption === 'teachers' ? 'Прізвище' : 'Клас' }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{
            chosenOption === 'teachers' ? element.lastname : element.className
          }}
        </td>
      </ng-container>

      <ng-container
        [matColumnDef]="
          chosenOption === 'teachers' ? 'firstname' : 'classYear'
        "
      >
        <th mat-sort-header mat-header-cell *matHeaderCellDef>
          {{ chosenOption === 'teachers' ? "Ім'я" : 'Рік' }}
        </th>
        <td mat-cell *matCellDef="let element">
          {{
            chosenOption === 'teachers' ? element.firstname : element.classYear
          }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selectRow(row, chosenOption)"
      ></tr>
    </table>
  </mat-accordion>
</div>
