@import "../../../../styles";

mat-nav-list {
  height: 64px!important;
}
.mat-list-item { // menu list
  color: white !important;
  cursor: pointer;
  height: 64px!important;


  &.active { // selected section
    background-color: #3da6db !important;
  }

  .mat-icon { // icons
    padding-right: 5px;
  }

  /* Most of the Smartphones (Portrait) */
  @media only screen and (max-width: 600px) {
    display: none !important; // hide
  }
  /* Most of the Retina Display Smartphones (Portrait) */
  @media only screen and (max-width: 600px) and (min-resolution: 2dppx) and (orientation: portrait) {
    display: none !important; // hide
  }
}

a {
  text-decoration: none;
}

.mat-menu-item { // dropdown menu
  color: $dark-color;

  .mat-icon {
    color: $dark-color;
  }
}

.navigation-items { // menu list
  font-size: 0.8em!important;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;

  span {
    font-size: 0.8em;
    padding: 0 5px;
  }
}

.account-photo { // account photo
  padding: 0 2%;
  font-size: 48px;
  width: 48px;
}
