<div mat-dialog-actions class="buttons">
  <button mat-icon-button [mat-dialog-close]="true" (click)="onDownload()" cdkFocusInitial>
    <mat-icon>save_alt</mat-icon>
  </button>
  <button mat-icon-button (click)="onNoClick()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div id="pdfcontent" #pdfcontent>
  <h1 mat-dialog-title>Розклад уроків {{data.selectedClass}} класу</h1>
  <p>на період з {{data.dateStart}} по {{data.dateEnd}}</p>
  <div mat-dialog-content>
    <table>
      <tr>
        <th></th>
        <th *ngFor="let dayName of data.weekDayName">{{dayName.legendDay}}</th>
      </tr>
      <tr>
        <td></td>
      </tr>
    </table>
  </div>
</div>
