.buttons {
    display: flex;
    padding: 0;
    justify-content: flex-end;
}
h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 0.5em;
}
p {
    font-size: 1em;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 0.5em;
}
th {
    font-size: 1em;
}
