<div class="container">
  <h2 @enterFromTop>Перехід на новий навчальний рік</h2>
  <mat-spinner *ngIf="showSpiner"></mat-spinner>
  <ng-container *ngIf="!showSpiner">
    <div class="statistic"(click)="showStatistic()" @enterFromTop>(Переглянути статистику за минулі 5 років)</div>
    <form *ngIf="filteredClasses.length>0; else emptyFilter" [@multiEnterFromBottom]="filteredClasses?.length" [formGroup]="transititionForm" class="component" (ngSubmit)="formSubmit()">
      <div *ngFor="let curClass of filteredClasses; let i=index" >
        <app-class-card
          [controlIndex]="i"
          [form]="transititionForm"
          [curClass]="curClass.classData"
          [isClassTransited]="false"
          [isCardLock] = "false"
          [currentYear] = "currentYear"
          #classCard>
        </app-class-card>
      </div>
      <button mat-raised-button class="submit" type="submit" [disabled]="!transititionForm.valid" > Перевести учнів </button>
    </form>
    <ng-template #emptyFilter>
      <p>Немає класів, що відповідають критеріям фільтру. Ви можете змінити налаштування фільтру кнопкою, що розміщена справа</p>
    </ng-template>
  </ng-container>
</div>
  <!-- Toggle menu -->
<input type="checkbox" id="toggle-1">
<div class="toggle-stripe">
  <div class="wrap">
    <label for="toggle-1"><i class="material-icons">filter_list</i></label>
    <div class="checkbox-group">
      <mat-checkbox [(ngModel)]="isNotEmpty" (change)="filterClasses()">З учнями</mat-checkbox>
      <mat-checkbox [(ngModel)]="isCurrentYear" (change)="filterClasses()">Поточний рік</mat-checkbox>
    </div>
  </div>
  <div class="marks">
    <div *ngIf="isNotEmpty"><i class="material-icons" matTooltip = 'Показати класи з учнями'>people</i></div>
    <div *ngIf="isCurrentYear"><i class="material-icons" matTooltip = 'Показувати класи поточного н. р.'>update</i></div>
  </div>
</div>
