@import "../../../styles.scss";

.container{
  text-align: center;
  margin: 20px auto;
  h2 { font-size: 1.5em; }
  @media (min-width: 481px) and (max-width: 767px) { width: 80%; }
  @media (min-width: 768px) { width: 70%; }
}

.submit {
  display: block;
  background: $main-color;
  color: #fff;
  width: 200px;
  height: 50px;
  margin: 10px auto;
  font-size: 1em;
}

/*Toggle stripe*/
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: 3;
}

label {
  display: block;
  width: 48px;
  height: 48px;
  font-size: 2em;
  margin: 10px 0 10px 0;
  cursor: pointer;
  i.active{color: white}
}

.toggle-stripe {
  width: 200px;
  height: 60px;
  right: -160px;
  color: white;
  text-align: center;
  padding: 5px;
  position: fixed;
  top: 100px;
  z-index:2;
  transition: right 0.5s ease;
  
  div.wrap {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
    background-color: #1565c0;
    border-radius: 30px 0px 0px 30px;

    .checkbox-group {
      height: 100%;
      font-size: 0.75em;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      padding-left: 15px;
    }
  }
}

.marks {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.25s linear, opacity 2s linear;
  left: 20px;
  float: right;
  div {
    width: 20px;
    height: 20px;
    margin: 5px;
    -webkit-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
    i.material-icons {
      cursor: default;
      color: #1565c0;
      font-size: 1em;
    }
  }
}

input[type=checkbox]:checked ~ .toggle-stripe {
  .marks {
    position: initial;
    visibility: hidden;
    opacity: 0;
  }
  right: -5px;
}

::ng-deep snack-bar-container.mat-snack-bar-container {
  display: flex;
  justify-content: center;
  color: white;
}
::ng-deep snack-bar-container.mat-snack-bar-container.popup-success {background-color: rgb(24, 168, 72);}
::ng-deep snack-bar-container.mat-snack-bar-container.popup-error {background-color:  rgb(175, 50, 1);}
