<div class="container">
  <h2>Перехід на новий навчальний рік</h2>
  <form [formGroup]="transititionForm" class="component" (ngSubmit)="formSubmit()">
    <div>
      <app-class-card
        *ngFor="let controlIndex of controlIndexes|classFilter:isActive:isNotEmpty:isCurrentYear:allClasses:newClassTitle.controls:skipClassSwitcher.controls; let index=index"
        [controlIndex]="controlIndex"
        [form]="transititionForm"
        [curClass]="allClasses[controlIndex]"
        [skipClassSwitcher]="skipClassSwitcher.controls[controlIndex]"
        [editTitleSwitcher]="editTitleSwitcher.controls[controlIndex]"
        [newTitleField]="newClassTitle.controls[controlIndex]"
        #classCard>
      </app-class-card>
    </div>
    <button mat-raised-button class="submit" type="submit" [disabled]="!transititionForm.valid" > Перевести учнів </button>
  </form>
</div>
  <!-- Toggle menu -->
<input type="checkbox" id="toggle-1">
<div class="toggle-stripe">
  <div class="wrap">
    <label for="toggle-1"><i class="material-icons">filter_list</i></label>
    <div class="checkbox-group">
      <mat-checkbox [(ngModel)]="isActive" >Активний</mat-checkbox>
      <mat-checkbox [(ngModel)]="isNotEmpty" >З учнями</mat-checkbox>
      <mat-checkbox [(ngModel)]="isCurrentYear" >Поточний рік</mat-checkbox>
    </div>
  </div>
  <div class="marks">
    <div class="isactive" *ngIf="isActive">А</div>
    <div class="pupils" *ngIf="isNotEmpty">У</div>
    <div class="year" *ngIf="isCurrentYear">П</div>
  </div>
</div>
