<div class="wrapper">
  <div class="container">
    <div class="avatar">
      <app-avatar *ngIf="editMode" (changeAvatar)="avatarRef.click()"
        [avatar]="teacher?.avatar"
        [editable]="true"
        [firstName]="teacher?.firstname"
        [lastName]="teacher?.lastname">
        <div class="error-message" *ngIf="teacherForm.get('teacherAvatar').invalid">
          <span *ngIf="teacherForm.get('teacherAvatar').errors.invalidMimeType">Некоректний тип зображення</span>
          <span *ngIf="teacherForm.get('teacherAvatar').errors.invalidFileSize">Розмір файлу завеликий</span>
        </div>
      </app-avatar>
      <app-avatar *ngIf="!editMode" [avatar]="ava"></app-avatar>
    </div>

    <form [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
      <div>
        <input [ngStyle]="{'display': 'none'}" #avatarRef
          formControlName="teacherAvatar"
          type="file"
          (change)="onFileSelected($event)"
        />

        <mat-form-field>
          <input
            matInput
            placeholder="Ім'я"
            formControlName="teacherFirstname"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Прізвище"
            formControlName="teacherLastname"
            id="setWidth"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="По-батькові"
            formControlName="teacherPatronymic"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Дата народження"
            formControlName="teacherDateOfBirth"
          />
          <mat-hint>В форматі: <strong>дд.мм.рррр</strong></mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="email"
            placeholder="Електронна адреса"
            formControlName="teacherEmail"
          />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Логін" formControlName="teacherLogin" />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Номер телефону"
            formControlName="teacherPhone"
          />
        </mat-form-field>

        <mat-form-field *ngIf="editMode">
          <input
            type="password"
            matInput
            placeholder="Пароль"
            formControlName="oldPassword"
          />
        </mat-form-field>

        <mat-form-field *ngIf="editMode">
          <input
            type="password"
            matInput
            placeholder="Новий пароль"
            formControlName="newPassword"
          />
        </mat-form-field>

        <mat-form-field *ngIf="editMode" id="latInp">
          <input
            type="password"
            matInput
            placeholder="Повторіть новий пароль"
            formControlName="confirmPassword"
          />
          <mat-error> Паролі не співпадають </mat-error>
        </mat-form-field>

        <div mat-dialog-actions id="button-section">
          <button
            [disabled]="!teacherForm.valid || teacherForm.pristine"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Зберегти
          </button>

          <button mat-raised-button type="button" (click)="onCancel()">
            Відмінити
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
