mat-dialog-content {
	.chart-container {
		position: relative;
		margin: 0 auto;
		height: 40vh;
		width: 65vw;
	}
	.chart-container.big-landscape {
		height: 800px;
		width: 1131.37px;
	}
	.chart-container.big-portrait {
		height: 1131.37px;
		width: 800px;
	}
	@media (max-width: 600px) {
		.chart-container {
			height: 35vh;
			width: 65vw;
		}
	}
	@media (min-width: 1200px){
		.chart-container {
			height: 50vh;
			width: 55vw;
		}
	 }

	position: relative;
	h2 {
		max-width: 80%;
		margin: 0 auto;
		text-align: center;
  }
  @media (max-width: 480px){
    h2 {
      max-width: 70%;
      margin: 0;
      text-align: center;
    }
  }

  .action-buttons {
    position: absolute;
    top: 0;
    right: 10px;
    display: flex;
    button {
      cursor: pointer;
      color: rgba(0,0,0,0.5);
    }
    button:hover {
      color: rgba(0,0,0,1);
    }
  }
}
.mat-table {
  width: 100%;
	text-align: center;
	th.mat-header-cell.center{
		text-align: center;
	}
}
.overlay-tip{
	position: absolute;
    top: -40px;
    left: 0;
    display: flex;
    align-items: center;
		justify-content: center;
    width: 101%;
    height: 101%;
    z-index: 1;
		visibility: visible;
		*{visibility: visible;}
		.tip-content {
			width: 80vw;
			height: 60vh;
			background-color: aliceblue;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			.pdf-icon {
				width: 128px;
				height: 128px;
			}
		}
}
