<!--header list-->
<mat-nav-list class="navigation-items">
  <!--logout button-->
  <div>
    <a mat-list-item (click)="auth.logout()"> <!-- logout function -->
      <mat-icon>exit_to_app</mat-icon>
      Вийти
    </a>
  </div>
  <!--student book button-->
  <div>
    <a mat-list-item routerLinkActive="active" routerLink="/student-book">
      <mat-icon>book</mat-icon>
      Щоденник
    </a>
  </div>
  <!-- account photo icon -->
  <div class="right">
    <span>{{fullName}}</span>
      <app-avatar style="width: 48px !important; height: 48px !important;" [avatar]="avatar"
                  [firstName]="firstName"
                  [lastName]="lastName">
      </app-avatar>
  </div>
</mat-nav-list>
