@import "../../../styles.scss";

.mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: white;
  background-color: $main-color;
  font-size: 2rem;
  height: 75px;
  opacity: 1;
  transition: top 400ms ease-in-out, opacity 400ms ease-in-out;

  &.hide {
    top: -75px;
    opacity: 0;
  }

  &.notransition {
    transition: none;
  }
}

.header-list { // menu list
  padding: 0 3%;
  font-size: 0.8em;
}

.account-photo { // account photo
  margin: 0 auto;
  font-size: 48px;
  width: 48px;
}
