<mat-toolbar>
  <div fxHide.gt-xs>
    <!--burger menu icon-->
    <button
      mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <!--logo item for large screens on the left-->
  <div><a routerLink="/">
    <img fxHide.xs src="../../../assets/catholic-school-logo.png" alt="logo">
  </a>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end"
       fxHide.xs class="header-list">
    <!-- example list for header menu-->
    <app-header-list></app-header-list>
  </div>
    <!--logo item for mobile screens on the right-->
  <div fxFlex fxLayout fxHide.gt-xs fxLayoutAlign="flex-end">
    <a routerLink="/">
      <img src="../../../assets/catholic-school-logo.png" alt="logo">
    </a>
  </div>
</mat-toolbar>

