@import "../../../styles.scss";

.mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  color: white;
  background-color: $main-color;
  font-size: 2rem;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease-in-out;

  &.hide {
    transform: translateY(-75px);
  }

  &.notransition {
    transition: none;
  }
}

.header-list { // menu list
  padding: 0 3%;
  font-size: 0.8em;
}

.account-photo { // account photo
  margin: auto;
  font-size: 48px;
}
