@import "../../../styles.scss";

.dateSwitcher {
  display: flex;
  justify-content: center;

  button.mat-button {
  }

  mat-form-field {
    width: 7em;
  }
}

table {
  width: 80%;
  margin: 0 auto !important;

  /* Small and medium devices (portrait tablets and large phones, 600px and up) */
  @media (max-width: 1024px) {
    width: 100%;
  }
  /* Extra small devices (phones, 600px and down) */
  @media (max-width: 600px) {
    width: 100% !important;

    .note {
      display: none;
    }
  }
}

h4{
  text-align: center;
  color: $dark-color;
  padding-top: 1em;
}

.lessonNumber {
  width: 10% !important;
}
.subjectName {
  width: 22% !important;
  padding: 0 15px !important;
}
.homeWork {
  width: 35% !important;
  padding: 0 15px !important;

  .icoFile {
    color: $dark-color;
    height: 14px !important;
    width: 14px !important;
    font-size: 14px !important;
  }
}

.mark {
  width: 13% !important;
}
.note {
  width: 20% !important;
  padding: 0 15px 0 15px!important;
}

th.mat-header-cell {
  text-align: center !important;
  font-size: 14px;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 0 !important;
  text-align: center;
}

td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding-right: 0 !important;
}

td.mat-cell.mark{
  text-align: center !important;
}

td.mat-cell.homeWork{
  vertical-align: center !important;
}

th.mat-header-cell {
  background-color: $main-color !important;
  color: white !important;
}

td.mat-cell {
  border-right: 1px solid gainsboro !important;
}

.iconContainer {
  width: 100%;
}

.icon {
  font-size: 3em;
  display: block !important;
  margin: 0 auto !important;
  color: $dark-color;
}
