<!--DatePicker-->
<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Оберіть дату"
         (dateInput)="addEvent($event)" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<!--Tables with student-book data-->
<table>
  <tbody *ngFor="let item of groupArr">
  <ng-container>
    <h4 colspan="2">{{item.date | date : 'fullDate' | uppercase}}</h4>
    <table mat-table [dataSource]="item.groupItem" class="mat-elevation-z8">

      <!-- lessonNumber Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef class="lessonNumber"> №</th>
        <td mat-cell *matCellDef="let value"> {{value.lessonNumber}}</td>
      </ng-container>

      <!-- subjectName Column -->
      <ng-container matColumnDef="lesson">
        <th mat-header-cell *matHeaderCellDef class="subjectName"> Урок</th>
        <td class="subjectName" mat-cell *matCellDef="let value"> {{value.subjectName}}</td>
      </ng-container>

      <!-- homeWork Column -->
      <ng-container matColumnDef="homeWork">
        <th mat-header-cell *matHeaderCellDef class="homeWork"> Домашнє завдання</th>
        <td class="homeWork" mat-cell *matCellDef="let value"> {{value.homeWork}}</td>
      </ng-container>

      <!-- mark Column -->
      <ng-container matColumnDef="mark">
        <th mat-header-cell *matHeaderCellDef class="mark"> Оцінка</th>
        <td class="mark" mat-cell *matCellDef="let value"> {{value.mark}}</td>
      </ng-container>

      <!-- note Column -->
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef class="note"> Примітка</th>
        <td mat-cell class="note" *matCellDef="let value"> {{value.note}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-container>
  </tbody>
</table>
