<div class="component">
  <mat-expansion-panel class="chartOptions">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>settings</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
        Налаштуйте параметри графіка
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="chartOptionsForm">
      <div class="class">
        <mat-form-field>
          <mat-label>Потік класів</mat-label>
          <mat-select formControlName="streamId" (selectionChange)="streamChange($event)">
            <mat-option *ngFor="let item of stream; let i = index" [value]="i+1">
              {{i+1}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="chartOptionsForm.controls.streamId.hasError('required')">
            Оберіть номер потоку класів
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Клас</mat-label>
          <mat-select formControlName="classId" (selectionChange)="classesChange($event)">
            <mat-option *ngFor="let item of classes" [value]="item.id">
              {{item.className}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="chartOptionsForm.controls.classId.hasError('required')">
            Оберіть клас
          </mat-error>
        </mat-form-field>
      </div>
      <div class="markType">
        <mat-label>Тип оцінки</mat-label>
        <mat-radio-group formControlName="markType">
          <mat-radio-button *ngFor="let item of markTypes | keyvalue" [value]="item.key" color="primary" (click)="markTypeChange($event, item.key)">
            {{item.value}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <mat-form-field>
        <mat-label>Предмет</mat-label>
        <mat-select formControlName="subjectId">
          <mat-option *ngFor="let item of subjects" [value]="item.subjectId" >
            {{item.subjectName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="chartOptionsForm.controls.classId.hasError('required')">
          Оберіть предмет
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Учень</mat-label>
        <mat-select formControlName="studentId"
                    [multiple]="chartOptionsForm.controls.markType.value !== 'avgOfStudents'">
          <mat-option *ngFor="let item of students" [value]="item.id">
            {{item.firstname}} {{item.lastname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="period">
        <mat-form-field>
          <input matInput [matDatepicker]="periodStart" formControlName="periodStart" placeholder="Початок періоду">
          <mat-datepicker-toggle matSuffix [for]="periodStart"></mat-datepicker-toggle>
          <mat-datepicker #periodStart></mat-datepicker>
          <mat-error *ngIf="chartOptionsForm.controls.periodStart.hasError('required')">
            Оберіть початкову дату
          </mat-error>
          <mat-error *ngIf="periodError">
            Початкова дата більша за кінцеву
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="periodEnd" formControlName="periodEnd" placeholder="Кінець періоду">
          <mat-datepicker-toggle matSuffix [for]="periodEnd"></mat-datepicker-toggle>
          <mat-datepicker #periodEnd></mat-datepicker>
          <mat-error *ngIf="chartOptionsForm.controls.periodStart.hasError('required')">
            Оберіть кінцеву дату
          </mat-error>
        </mat-form-field>
      </div>
    </form>
    <div class="buttons">
      <button (click)="getDataForChart()" mat-raised-button class="submit">Оновити графік</button>
      <button mat-raised-button (click)="resetChartOptions()" class="reset">Очистити</button>
    </div>
  </mat-expansion-panel>
  <app-chart></app-chart>
</div>
