mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .select {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    & > * {
      margin-left: 15%;
    }
  }
  .mat-elevation-z8 {
    margin-top: 2em;
    width: 100%;
    border: 1px solid rgb(143, 210, 233);
    table {
      width: 100%;
      th,
      td {
        &:hover {
          background-color: rgb(143, 210, 233);
        }
      }
      .name {
        cursor: pointer;
        span {
          margin-left: 0.7em;
        }
      }
    }
  }
}
.add {
  position: fixed;
  bottom: 5em;
  right: 5em;
}

@media only screen and (max-width: 700px) {
  mat-card-content {
    .select {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .mat-elevation-z8 {
      width: auto;
      table {
        .name {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .add {
    position: fixed;
    bottom: 4em;
    right: 1.2em;
  }
}
