<div class="select">
  <mat-form-field>
    <mat-label>Активні класи</mat-label>
    <mat-select (selectionChange)="onSelectionClass($event)">
      <mat-option class='option' *ngFor="let active of activeClass | async" [value]="active.id">
        <span>{{active.className + " " + active.classYear + "рік"}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button type="button" (click)="showNowActive = !showNowActive">Неактивні класи</button>
  <ng-container *ngIf="showNowActive">
    <mat-form-field>
      <mat-label>Неактивні класи</mat-label>
      <mat-select (selectionChange)="onSelectionClass($event)">
        <mat-option class='option' *ngFor="let notActive of notActiveClass | async" [value]="notActive.id">
          <span>{{notActive.className + "" + notActive.classYear}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</div>
<div class="students">
  <mat-nav-list *ngIf="studentList" class="students">
    <mat-form-field>
      <input matInput [ngModel]="searchValue" placeholder="Пошук" (ngModelChange)="onSearch($event)">
    </mat-form-field>
    <mat-list-item class="students" [routerLink]="['./', student.id]" [queryParams]="{ classId: classId }"
      *ngFor="let student of studentList | async | studentFilter : searchValue">
      <span>{{student.lastname + " " + student.firstname + " " + student.patronymic}}</span>
    </mat-list-item>
  </mat-nav-list>
</div>
<button class="add" mat-fab color="primary" (click)="AddStudent()">
  <i class="material-icons">
    person_add
  </i>
</button>
<router-outlet></router-outlet>