.select {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.mat-elevation-z8 {
  margin-top: 2em;
  width: 100%;
  table {
    width: 100%;
    th,
    td {
      width: 20%;
    }
    .name {
      cursor: pointer;
      &:hover {
        background-color: lightgray;
      }
      span {
        margin-left: 0.7em;
      }
    }
  }
}

.students {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add {
  position: fixed;
  bottom: 5em;
  right: 5em;
}

@media only screen and (max-width: 700px) {
  .mat-elevation-z8 {
    margin-top: 2em;
    width: 100%;
    table {
      width: 100%;
      th,
      td {
        width: 18%;
      }
      .name {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .add {
    position: fixed;
    bottom: 4em;
    right: 1.2em;
  }
}
