<div [formGroup] = "frmDailySchedule">
  <fieldset  formArrayName="dailySchedule">
    <legend>{{legendDay}}</legend>
    <div *ngFor="let lesson of dailySchedule.controls; let lessonNumber=index" class="daily-schedule">
      <span>{{ lessonNumber + 1 }}. </span>

      <mat-form-field class="select-subject">
        <mat-select [formControl]="lesson.controls.firstGroup"
        [placeholder]="selectSubjectMsg"
        (selectionChange)="selectedSubject($event, lessonNumber)">
          <mat-option *ngFor="let subj of arrSubjectsList" [value]="subj.subjectId">
            {{ subj.subjectName }}{{ subj.subjectId }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="select-subject" >
        <mat-select [formControl]="lesson.controls.secondGroup"
         [placeholder]="selectSubjectMsg"
         (selectionChange)="selectedSubject($event)">
          <mat-option *ngFor="let subj of arrSubjectsList" [value]="subj.subjectId">
            {{ subj.subjectName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-icon-button
       (click)="addSecondGroup(lessonNumber)">
        <mat-icon>add_box</mat-icon>
      </button>

      <button mat-icon-button
       (click)="removeSubjest(lessonNumber)">
          <mat-icon>delete</mat-icon>
      </button>
      <!--(click)="addSubjest(lessonNumber)"*ngIf="!this.disabled"-->
    </div>
  </fieldset>
</div>
<!-- for test -->
<div> {{ frmDailySchedule.value | json }}</div>
