<div [formGroup] = "frmDailySchedule">
  <fieldset  formArrayName="dailySchedule">
    <legend>{{legendDay}}</legend>
    <ng-container *ngFor="let lesson of dailySchedule.controls; let i=index">
      <div>
        <span>{{ i + 1 }}. </span>

        <mat-form-field class="select-subject">
          <mat-select [formControl]="lesson.controls['firstGroup']" placeholder="Виберіть предмет" (click)="addSubjest(i)">
            <mat-option *ngFor="let subj of arrSubjectsList" [value]="subj.subjectId"> {{ subj.subjectName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="select-subject">
          <mat-select [formControl]="lesson.controls['secondGroup']" placeholder="Виберіть предмет">
            <mat-option *ngFor="let subj of arrSubjectsList" [value]="subj.subjectId"> {{ subj.subjectName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-icon-button *ngIf="!this.disabled" (click)="addSecondGroup(i)">
          <mat-icon>add_box</mat-icon>
        </button>

        <button mat-icon-button *ngIf="!this.disabled" (click)="removeSubjest(i)">
            <mat-icon>delete</mat-icon>
        </button>
      </div>

    </ng-container>
  </fieldset>
</div>
<!-- for test -->
<div> {{ frmDailySchedule.value | json }}</div>
