$icon-color: rgb(78, 125, 185);
$shadow-color: rgb(182, 182, 182);

fieldset {
    padding: 0;
    padding-left: 0.3em;
    background-color: #fff;
    box-shadow: 1px 1px 2px $shadow-color;
    border-style: none;
}
.daily-schedule {
    display: flex;
    flex-wrap: wrap;
}
.select-subject {
    margin: 0 0.5em;
    width: 35%;
}
mat-icon {
    color: $icon-color;
}
.invisible {
    display: none;
}

/* Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
    .daily-schedule {
        flex-direction: column;
    }
    .select-subject {
        width: 80%;
    }
}
