#displayNoneForId {
  display: none;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
  
.example-full-width {
  width: 100%;
}

::ng-deep {
  & .snack-class-fail {
    background-color: rgb(175, 50, 1);
    display: flex !important;
    justify-content: center !important;
    color: white !important;
  }
  & .snack-class-success {
    background-color: rgb(24, 168, 72);
    display: flex !important;
    justify-content: center !important;
    color: white !important;
  }
  & .snack-class-warning {
    background-color: rgb(157, 160, 6);
    display: flex !important;
    justify-content: center !important;
    color: white !important;
  }
}