<form class="example-form" #form = "ngForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Назва класу:"  name="className" [(ngModel)]="data.className">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Навчальний рік:" name="classYear" [(ngModel)]="data.classYear">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Додадкова інформація:" name="classDescription" [(ngModel)]="data.classDescription">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="ID:" name="id" [(ngModel)]="data.id">
  </mat-form-field>
  <mat-radio-group name="isActive" [(ngModel)]="data.isActive">
    <mat-radio-button value="true" checked >Активний</mat-radio-button> 
    <br>
    <br> 
    <mat-radio-button value="false">Неактивний</mat-radio-button> 
  </mat-radio-group>
    <br>
    <br>
    <br>
  <button mat-stroked-button color="primary" type="submit" (click)="save(form.value)" (click)="abort()">Зберегти</button>
  <button mat-stroked-button color="primary" type="submit" (click)="abort()">Відміна</button>
</form>

  

