<form class="example-form" #form = "ngForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Назва класу:"  name="className" [(ngModel)]="data.className">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Навчальний рік:" name="classYear" [(ngModel)]="data.classYear">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Додадкова інформація:" name="classDescription" [(ngModel)]="data.classDescription">
  </mat-form-field>
  <mat-form-field class="example-full-width" id="displayNone">
    <input matInput placeholder="ID:" name="id" [(ngModel)]="data.id">
  </mat-form-field>
  <mat-form-field class="example-full-width" >
    <mat-select  placeholder="Стан класу" name="isActive" [(ngModel)]="data.isActive">
      <mat-option value="true" >Відкритий</mat-option>
      <mat-option value="false">Закритий</mat-option>
    </mat-select>
  </mat-form-field>
    <br>
    <br>
    <br>
  <button mat-stroked-button color="primary" type="submit" (click)="save(form.value)" (click)="abort()">Зберегти</button>
  <button mat-stroked-button color="primary" type="submit" (click)="abort()">Відміна</button>
</form>

  

