.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
  }
}

