.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  &.editable .change-image {
    position: absolute;
    background-color: rgba(0,0,0,.54);
    color: white;
    padding: 0.7rem 5px;
    font-size: 35%;
    text-align: center;
    width: 100%;
    height: 30%;
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 1s;
    letter-spacing: 1px;
  }
  &:hover .change-image{
    background-color: rgba(0,0,0,.54);
    opacity: 1;
    transform: translateY(90%);
    &:hover {
      cursor: pointer;
      font-weight: 600;
    }
  }
  ::ng-deep .error-message {
    position: absolute;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    padding: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #ff0000;
    box-sizing: border-box;
    background-color: #fafafaab;
    text-shadow: black 1px 1px 3px;
  }
}
.avatar > mat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
