@import "../../../styles";

$background-colors: rgb(237,78,75), rgb(31,193,213), rgb(95,182,99), rgb(254,162,31), rgb(169,69,187);
$box-shadow-colors: rgba(237,78,75,0.4), rgba(31,193,213,0.4), rgba(95,182,99,0.4), rgba(254,162,31,0.4), rgba(169,69,187, 0.4);
$background-gradient:
  linear-gradient(90deg, rgb(255, 82, 79) 0%, rgb(225, 61, 58) 100%),
  linear-gradient(90deg, rgb(31, 205, 225) 0%, rgb(6, 162, 183) 100%),
  linear-gradient(90deg, rgb(120, 215, 124) 0%, rgba(61,163,65,1) 100%),
  linear-gradient(90deg, rgb(255, 181, 8) 0%, rgb(234, 127, 7) 100%),
  linear-gradient(90deg, rgba(169,69,187,1) 0%, rgba(143,37,170,1) 100%);

.component {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.graph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;

  mat-card {
    height: 25em;

    mat-card-header {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5em 0;
      color: white;
      border-radius: 0.2rem;
      width: 100%;
    }
    mat-card-content {
      padding: 1em 0;
    }
    mat-card-footer {
      padding: 0.5em 0;
    }
  }

  .chart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40em;

    mat-card-content {
      width: 100%;
      height: auto;
    }

    mat-card-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-top: 0.01em solid #eaeaea;
    }
  }

  .chartOptions {
    display: flex;
    flex-direction: column;
    width: 20em;

    mat-card-content {
      display: flex;
      justify-content: center;
      flex-grow: 1;

      form {
        display: flex;
        width: 80%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        mat-form-field {
          width: 100%;
          border-color: $main-color;
          margin-top: 1em;

          mat-label {
            font-size: 1.3em;
          }

          mat-select {
            font-size: 1.3em;
          }
          mat-error {
            font-size: 1.2em;
          }
        }

        .graphType {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          font-size: 1.1em;

          mat-radio-group {
            display: flex;
            flex-direction: column;
          }

          label {
            text-align: center;
            vertical-align: center;
          }

        }

        mat-radio-button {
          margin: 1em;
        }

      }
    }
    mat-card-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1em 0;

      button {
        width: 10em;
        height: 3em;
        font-size: 0.9em;
        margin-top: 1em;
        background-color: $main-color;
        color: white;

        &:not(disabled):hover {
          background-color: $main-hover-color;
        }
      }
    }
  }
 }

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4em;
  width: 100%;

  @for $i from 1 through 4 {
    mat-card:nth-child(#{$i}) {
      .cardHeader {
        background: nth($background-colors, $i);
        background: nth($background-gradient, $i);
        box-shadow: 0 0.2em 0.6em 0 nth($box-shadow-colors, $i), 0 0.2em 1em 0 rgba(0, 0, 0, 0.19);
      }
    }
  }

  mat-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 12em;
    height: 6.5em;
    margin: 1.5em;
  }

  .cardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 6em;
    margin-top: -3em;
    border-radius: 0.03rem;
    color: white;
    font-size: 1rem;
    box-shadow: 0 0.01rem 0.03rem 0 rgba(0, 0, 0, 0.2), 0 0.01rem 0.01rem 0 rgba(0, 0, 0, 0.14), 0 0.02rem 0.01rem -0.01rem rgba(0, 0, 0, 0.12);

    mat-icon {
      font-size: 4.5em;
      margin: -0.65em 0 0 -0.7em;
    }
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #bcbcbc;

    span {
      color: #585858;
      font-size: 3em;
    }
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    margin-top: 0.3em;
    color: #999999;

    button {
      width: 12em;
      height: 2.5em;
    }
    button:hover {
      background-color: #ebebeb;
    }
    mat-icon {
      position: absolute;
      font-size: 1em;
      margin-left: 5.5em;
      color: #bcbcbc;
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.05rem solid rgba(236, 236, 236, 0.64);
}

@media (min-width: 1920px) {
  .graph {
    justify-content: space-around;
    font-size: 1.27em;

    .chart {
      height: auto;
    }

    .chartOptions {
      height: 24.9em;
      mat-card-content {
        form {
          font-size: 1.5em;
        }
      }
    }
  }

  .stats {
    flex-grow: 3;
    font-size: 1.4em;

    mat-card {
      margin: 0.7em;
    }

    .cardHeader {
      font-size: 0.8em;

      mat-icon {
        margin: -0.7em 0 0 -0.75em;
      }
    }

    mat-card-content {
      font-size: 0.7em;
    }

    mat-card-actions {
      button {
        font-size: 0.7em;
      }
      mat-icon {
        margin-left: 5.2em;
      }
    }
  }
}

@media (min-width: 1601px) and (max-width: 1920px) {
  .graph {
    justify-content: space-around;
    font-size: 1.27em;

    .chart {
      height: auto;
    }

    .chartOptions {
      height: 24.9em;

      mat-card-content {
        form {
          font-size: 1.5em;
        }
      }
    }
  }

  .stats {
    flex-grow: 3;
    font-size: 1.4em;

    mat-card {
      margin: 0.7em;
    }

    .cardHeader {
      font-size: 0.8em;

      mat-icon {
        margin: -0.7em 0 0 -0.75em;
      }
    }

    mat-card-content {
      font-size: 0.7em;
    }

    mat-card-actions {
      button {
        font-size: 0.7em;
      }

      mat-icon {
        margin-left: 5.2em;
      }
    }
  }
}

@media (min-width: 1367px) and (max-width: 1600px) {
  .graph {
    justify-content: space-around;
    font-size: 1.06em;

    .chart {
      height: auto;
    }

    .chartOptions {
      mat-card-content {
        form {
          font-size: 1.4em;
        }
      }
    }
  }

  .stats {
    flex-grow: 1;
    font-size: 1.2em;

    mat-card {
      margin: 1em;
    }

    .cardHeader {
      font-size: 0.8em;
    }

    mat-card-content {
      font-size: 0.7em;
    }

    mat-card-actions {
      button {
        font-size: 0.7em;
      }

      mat-icon {
        margin-left: 5.2em;
      }
    }
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .graph {
    flex-direction: column;

    .chart {
      width: 80%;
      height: auto;
    }

    .chartOptions {
      width: 80%;
      height: 13em;
      margin-top: 4rem;

      mat-card-content {
        form {
          flex-direction: row;

          mat-form-field {
            width: 18em;
          }

          .graphType {
            width: 25em;

            mat-radio-group {
              flex-direction: row;
            }
          }
        }
      }
    }
  }

  .stats {
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .graph {
    flex-direction: column;

    .chart {
      width: 90%;
      font-size: 1.2em;
      height: auto;
    }

    .chartOptions {
      margin-top: 4rem;
      width: 70%;
      font-size: 1.2em;
      height: 20em;

      mat-card-content {
        form {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          mat-form-field {
            mat-label {
              font-size: 1.2em;
            }
          }

          .graphType {
            mat-radio-group {
              font-size: 1.2em;
            }

            label {
              font-size: 1.2em;
            }
          }
        }
      }
    }
  }
  .stats {
    flex-wrap: wrap;

    mat-card {
      font-size: 1.2em;
      margin: 1.5em 1em;
      flex-grow: 1;
    }

    .cardHeader {
      font-size: 0.8em;
    }

    mat-card-content {
      font-size: 0.7em;
    }

    mat-card-actions {
      button {
        font-size: 0.8em;
      }

      mat-icon {
        display: none;
      }
    }
  }
}

@media (min-width: 667px) and (max-width: 767px) {
  .graph {
    flex-direction: column;

    .chart {
      width: 90%;
      font-size: 1.2em;
    }
    .chartOptions {
      margin-top: 4rem;
      width: 80%;
      font-size: 1.2em;
      height: 20em;

      mat-card-header {
        font-size: 1.2em;
      }

      mat-card-content {
        form {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          mat-form-field {
            mat-label {
              font-size: 1.2em;
            }
          }

          .graphType {
            mat-radio-group {
              font-size: 1.2em;
            }

            label {
              font-size: 1.2em;
            }
          }

          button {
            font-size: 1.3em;
          }
        }
      }
    }
  }
  .stats {
    flex-wrap: wrap;
    justify-content: center;

    mat-card {
      font-size: 1.2em;
      width: 60%;
    }

    .cardHeader {
      font-size: 0.8em;
    }

    mat-card-content {
      font-size: 0.7em;
    }

    mat-card-actions {

      button {
        font-size: 0.8em;
      }

      mat-icon {
        display: none;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 667px) {
  .graph {
    flex-direction: column;

    .chart {
      width: 90%;
      font-size: 1.2em;
      height: auto;
    }

    .chartOptions {
      margin-top: 4rem;
      width: 90%;
      font-size: 1.2em;
      height: 20em;

      mat-card-content {
        form {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          mat-form-field {
            mat-label {
              font-size: 1.2em;
            }
          }

          .graphType {
            mat-radio-group {
              font-size: 1.2em;
            }

            label {
              font-size: 1.2em;
            }

          }

        }
      }
    }
  }
  .stats {
    flex-wrap: wrap;
    justify-content: center;

    mat-card {
      font-size: 1.2em;
      width: 60%;
    }

    .cardHeader {
      font-size: 0.8em;
    }

    mat-card-content {
      font-size: 0.7em;
    }

    mat-card-actions {
      button {
        font-size: 0.8em;
      }

      mat-icon {
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
  .graph {
    margin-top: 1rem;
    flex-direction: column;

    .chart {
      width: 88%;
      font-size: 1.3em;
      height: auto;

      mat-card-footer {
        width: 100%;
      }
    }

    .chartOptions {
      margin-top: 2rem;
      width: 88%;
      font-size: 1.3em;
      height: 20em;

      mat-card-content {
        form {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 90%;

          mat-form-field {
            width: 100%;

            mat-label {
              font-size: 1.4em;
            }
          }

          .graphType {
            mat-radio-group {
              font-size: 1.2em;
            }

            label {
              font-size: 1.2em;
            }

          }

          button {
            font-size: 1.4em;
          }
        }
      }
    }
  }
  .stats {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;

    mat-card {
      font-size: 1.2em;
      width: 88%;
      margin: 2em 0;
    }

    .cardHeader {
      font-size: 0.8em;
    }

    mat-card-content {
      font-size: 0.7em;
    }

    mat-card-actions {
      button {
        font-size: 0.8em;
      }

      mat-icon {
        display: none;
      }
    }
  }
}

::ng-deep {
  & .mat-card-header {
    background-color: $main-color;
  }


  & .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $main-color;
  }

  & .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $main-color;
  }

  & .mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
    color: $main-color;
  }

  & .mat-radio-inner-circle {
    background-color: $main-color;
  }

  & .mat-radio-checked .mat-radio-outer-circle {
    border-color: $main-color;
  }
  & .mat-card-header-text {
    margin: 0 !important;
  }
  & .mat-card-content {
    margin: 0 !important;
  }
}
