<div class="component">
  <div class="graph">
    <mat-card class="chart" [ngSwitch]="chartType" *ngIf="chartData.length">
      <mat-card-header>Потік {{classesStream}}-х класів</mat-card-header>
      <mat-card-content>
        <canvas baseChart *ngSwitchCase="'pie'"
                [data]="chartData"
                [labels]="chartLabels"
                [chartType]="chartType"
                [options]="chartRoundOptions">
        </canvas>
        <canvas baseChart *ngSwitchCase="'doughnut'"
                [data]="chartData"
                [labels]="chartLabels"
                [chartType]="chartType"
                [options]="chartRoundOptions">
        </canvas>
        <canvas baseChart *ngSwitchCase="'bar'"
                [datasets]="chartData"
                [labels]="chartLabels"
                [legend]="true"
                [chartType]="chartType"
                [options]="chartVerticalOptions">
        </canvas>
      </mat-card-content>
      <mat-card-footer>Учнів на потоці: {{studentsOfStream}}</mat-card-footer>
    </mat-card>
    <mat-card class="chartOptions">
      <mat-card-header>Завантаженість класів</mat-card-header>
      <mat-card-content>
        <form [formGroup]="streamClasses" (ngSubmit)="submitChartChange(streamClasses)">
          <mat-form-field>
            <mat-label>Номер потоку</mat-label>
            <mat-select formControlName="classes">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let item of numberOfClasses; let i = index" [value]="i + 1">
                {{i + 1}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="streamClasses.controls.classes.hasError('required') && streamClasses.controls.classes.touched">
              Ви повинні вибрати номер потоку
            </mat-error>
            <mat-error *ngIf="streamClasses.controls.classes.hasError('noClasses') && streamClasses.controls.classes.touched">
              В цьому потоці немає учнів у класах
            </mat-error>
          </mat-form-field>
          <div class="graphType">
            <label id="graphTypeGroup">Тип графіка:</label>
            <mat-radio-group aria-label="graphTypeGroup" formControlName="graphType">
              <mat-radio-button *ngFor="let item of objectKeys(graphTypes); let i = index" [value]="item" color="#000000">
                {{graphTypes[item]}}
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <button mat-raised-button type="submit" [disabled]="!streamClasses.valid">ПОКАЗАТИ</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="stats">
    <mat-card *ngFor="let item of titles; let i = index">
      <div class="main">
        <div class="cardHeader">
          <mat-icon>{{icons[i]}}</mat-icon>
        </div>
        <mat-card-content>
          {{item}}<br>
          <span>{{dataValues()[i]}}</span>
        </mat-card-content>
      </div>
      <mat-card-actions>
        <button mat-raised-button routerLink="/admin-panel/{{listLinks[i]}}">{{buttonTitles[i]}}</button><mat-icon>open_in_browser</mat-icon>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


