mat-accordion {
  width: 100%;
}

h2 {
  text-align: center;
}

#class-journal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-expansion-panel {
  margin: 1em auto !important;
}

mat-form-field,
mat-radio-group {
  display: flex;
  justify-content: center;
}
mat-radio-group {
  justify-content: space-evenly;
}

.cdk-column-num,
.cdk-column-academicYear,
mat-radio-group {
  color: #6b6767;
}

.mat-row:hover {
  background-color: rgba(24, 151, 236, 0.685);
  cursor: pointer;
}

table {
  width: 100%;
}

::ng-deep #class-journal-wrapper {
  .mat-form-field-wrapper {
    width: 90%;
  }

  & .journal-divider {
    margin-top: 1em !important;
  }

  & .mat-form-field-wrapper {
    width: 95% !important;
  }
}

@media only screen and (min-width: 600px) {
  table,
  mat-accordion {
    width: 65vw !important;
  }
}
