<mat-card
  *ngIf="newTitleField"
  [formGroup]="form"
  [ngClass]="{
    'locked': isCardLock,
    'active': !isCardLock,
    'transited': isClassTransited,
    'normal': !newTitleField.invalid,
    'warning': newTitleField.invalid
  }">
  <ng-container>
    <div class="class-lock" #skipClass (click)="lockClass()">
      <i *ngIf="!isCardLock" class="material-icons" matTooltip="Заборонити перехід на н. р.">lock_open</i>
      <i *ngIf="isCardLock" class="material-icons" matTooltip="Дозволити перехід на н. р.">lock</i>
    </div>
  </ng-container>
  <ng-container>
    <div class="class-info" (click)="openDialog(curClass.id)">
      <div>
        <div class="class-name">{{curClass.className}}</div>
        <div class="class-year">{{curClass.classYear}}</div>
      </div>
      <div>
        <i class="material-icons"
          [matTooltip] = "curClass.numOfStudents < 1 ? 'Клас без учнів' : 'Клас з учнями'"
          [ngStyle]="{'color':curClass.numOfStudents > 0 ? '#1565c0' : null }">
          people</i>
        <i class="material-icons"
          [matTooltip] = "curClass.classYear!==currentYear ? 'Цей клас не з поточного н. р.' : 'Поточний н. р.'"
          [ngStyle]="{'color':curClass.classYear===currentYear ? '#1565c0' : null }">
          update</i>
      </div>
    </div>
  </ng-container>
  <div class="class-transition">
      <i class="material-icons">trending_flat</i>
  </div>
  <div class="new-class-title" [ngClass]="isEditEnable?'locked':''">
    <ng-container>
      <div class="class-info empty-class" [ngClass]="{'locked': !newTitleField.valid, 'hidden': isEditEnable}">
        <div>
          <div class="class-name">{{newClassTitle.value|autotitle:curClass.className:newTitleField}}</div>
          <div class="class-year">{{curClass.classYear+1}}</div>
        </div>
      </div>
    </ng-container>
    <ng-container formArrayName="newClassTitle">
      <mat-form-field [ngClass]="!isEditEnable?'locked':''">
        <input matInput placeholder="Нова назва класу"
          [formControlName]="controlIndex"
          #newClassTitle
          class="new-class-name"
          id={{curClass.id}} placeholder="нова назва"/>
      </mat-form-field>
      <div class="validation-error"
          *ngIf="newTitleField.invalid">
        <p *ngIf="newTitleField.errors.pattern">Недопустима назва (Пр: "8-А", "4(8-А)")</p>
        <p *ngIf="newTitleField.errors.class_exist">Клас вже існує в наступному н. р.</p>
        <p *ngIf="newTitleField.errors.title_dublicate">Назви класів співпадають</p>
        <p *ngIf="newTitleField.errors.error_number">Номер класу некоректний</p>
      </div>
    </ng-container>
  </div>
  <div class="class-edit-title">
    <label #editClassTitle (click)="editInput(newClassTitle)">
      <i class="material-icons" matTooltip="Змінити назву класу">edit</i>
    </label>
  </div>
</mat-card>
