.container {
  display: flex;
}

mat-list {
  margin: auto;
  width: 17em;
  display: flex;
  flex-direction: column;
}

mat-list-item {
  width: 65%;
  justify-content: left;
}

#mine {
  position: fixed;
  bottom: 3.5em;
  right: 3em;
  transition: bottom 0.3s;
}

mat-select {
  width: 2em;
}
