.container {
  display: flex;
  justify-content: center;
  margin-left: calc(100vw - 100%) !important;
}

.container > div {
  min-width: 16.6em;
  max-width: 18.8em;
}

#wrapper {
  display: flex;
}

.mat-column-teacherCard  {
  padding: 0.7em;
  // display: flex;
  justify-content: left;

  width: 240px;
}

.mat-column-num  {

  width: 5%;
}

mat-card {
  padding: 0.2em;
  // display: flex;
  width: 20em;
}

#menu-trigger {
  margin: auto;
}

mat-form-field {
  display: block
}

mat-list {
  margin: auto;
  width: 17em;
  display: flex;
  flex-direction: column;
}

mat-list-item {
  width: 65%;
  justify-content: left;
}

#mine {
  position: fixed;
  bottom: 3.5em;
  right: 3em;
  transition: bottom 0.3s;
}

mat-select {
  width: 2em;
}

::ng-deep .snack-class-success {
  background-color: rgb(24, 168, 72);
  display: flex !important;
  justify-content: center !important;
  color: white !important;
}
