<div class="container">
  <mat-list>
    <ng-container *ngFor="let teacher of teachers">
      <mat-list-item routerLinkActive="active">
        <mat-select>
          <mat-option  (click)="onEdit(teacher.id)">
            Редагувати
          </mat-option>
          <mat-option (click)="console.log('asd')">
            Видалити
          </mat-option>
        </mat-select>

        <img matListAvatar [src]="teacher.avatar" alt="{{teacher.lastname}}" />
        <p matLine >
          {{ teacher.lastname }} {{ teacher.firstname }}
          {{ teacher.patronymic }}
        </p>
      </mat-list-item>
    </ng-container>
  </mat-list>
  <button class="mine" mat-fab color="primary" (click)="onNewTeacher()">
    <i class="material-icons">
      person_add
    </i>
  </button>
</div>
<router-outlet></router-outlet>
