@import "../../../styles";

//Background image of the page
.main-container {
  background-image: url("../../../assets/gimnazia-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

//Blackout of background image
.inner-container {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.form-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 100%;
}

//Container for form and info block
#container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#parent {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 10% 0 10%;
}

//Container for form
#child1 {
  background-color: white;
  width: 100%;
  height: 70%;
  flex: 1;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
}

//Container for info block
#child2 {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70%;
  flex: 2;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
}

#child2 img {
  width: 20%;
  height: auto;
}

#child2 h2 {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: $main-color;
}

label h2 {
  color: $main-color;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.wrap-forgot {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

form .wrap-forgot .forgot {
  color: $main-color;
  text-decoration: none;
}
