<!-- journals button-->
<a  routerLink="/journals/my-journals" [ngClass]="{active: active}">
  <div class="icons">
    <mat-icon>collections_bookmark</mat-icon>
    <br>
    <span>Журнали</span>
  </div>
</a>
<!-- progress button-->
<a  routerLink="/progress" routerLinkActive="active">
  <div class="icons">
    <mat-icon>trending_up</mat-icon>
    <br>
    <span>Статистика</span>
  </div>
</a>
<!--logout button-->
<a (click)="auth.logout()"> <!-- logout function -->
  <div class="icons">
    <mat-icon>exit_to_app</mat-icon>
    <br>
    <span>Вийти</span>
  </div>
</a>
