.mat-cell,
.mat-header-cell {
  text-align: center;
  border-right: 1px solid rgb(224, 224, 224);
}

.lastCell {
  text-align: center;
  border-left: 1px solid rgb(224, 224, 224) !important;
}

.wrapper {
  // width: 30vw;
  width: 90vw;
  overflow: auto;
}

td:first-of-type {
  pointer-events: none;
  cursor: default;
}
