<mat-spinner *ngIf="isLoading"></mat-spinner>
<h1 *ngIf="!isLoading && !dataSource">Журнал ще не створений</h1>
<div
  *ngIf="dataSource"
  class="wrapper"
>
  <table
    *ngIf="dataSource"
    mat-table
    [dataSource]="dataSource"
  >
    <ng-container
      *ngFor="let column of displayedColumns; let i = index"
      [matColumnDef]="column"
      [sticky]="column == 'studentFullName' ? true : false"
      [stickyEnd]="column == 'star' ? true : false"
    >
      <th
        mat-header-cell
        *matHeaderCellDef
        (click)="onHeadClc(column, $event, i)"
        [ngClass]="{
          'is-yellow': thRow[i]?.includes('Модуль'),
          'is-blue': thRow[i]?.includes('Контрольна'),
          'is-green': thRow[i]?.includes('Самостійна')
        }"
      >
        {{ column !== 'star' ? thRow[i] : '' }}
        <i
          *ngIf="
            (homeworks[column]?.homework||
              homeworks[column]?.fileName) &&
            column !== 'star' &&
            column !== 'studentFullName'
          "
          class="material-icons"
        >
          attach_file
        </i>
        <i
          *ngIf="column == 'star'"
          class="material-icons"
        >
          trending_up
        </i>
      </th>

      <td
        mat-cell
        *matCellDef="let element; let y = index"
        (click)="onClc(column, journal[y], $event, y)"
        [matTooltip]="
          i > 0 && i <= journal[y].marks.length ? journal[y].marks[i - 1].note : ''
        "
      >
        {{ column !== 'star' ? element[column] : average(element) }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>