<div class="options">
  <form [formGroup]="pdfOptions" *ngIf="isPdf()">
    <mat-form-field>
      <input matInput formControlName="page">
    </mat-form-field>
    / {{pdfTotalPages}}
  </form>
  <div class="transformOptions">
    <div class="option">
      <button mat-mini-fab (click)="rotateAttachment('rotateLeft')"><mat-icon>rotate_left</mat-icon></button>
    </div>
    <div class="option">
      <button mat-mini-fab (click)="rotateAttachment('rotateRight')"><mat-icon>rotate_right</mat-icon></button>
    </div>
    <div class="option">
      <button mat-mini-fab (click)="zoomAttachment('zoomIn')"><mat-icon>zoom_in</mat-icon></button>
    </div>
    <div class="option">
      <button mat-mini-fab (click)="zoomAttachment('zoomOut')"><mat-icon>zoom_out</mat-icon></button>
    </div>
    <div class="option">
      <button mat-mini-fab (click)="zoomAttachment('zoomExit')"><mat-icon>fullscreen_exit</mat-icon></button>
    </div>
    <div class="option" (click)="downloadFile()"><button mat-mini-fab><mat-icon>get_app</mat-icon></button>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<mat-dialog-content class="viewerContent" #viewerContentElem>
  <pdf-viewer *ngIf="isPdf()" [src]="attachmentUrl"
                [show-all]="true"
                [(page)]="pdfCurrentPage"
                [zoom]="attachmentZoom"
                [rotation]="attachmentRotationDegree"
                (after-load-complete)="pdfLoaded($event)"></pdf-viewer>
  <div class="imgViewer" cdkDrag>
    <img *ngIf="isImage()" [src]="attachmentUrl" alt=""
         [ngStyle]="{
         transform: 'rotate(' + this.attachmentRotationDegree + 'deg)' + ' scale(' + this.attachmentZoom + ')',
         transition: '0.5s'
         }">
  </div>
  <div *ngIf="isUnknownType()">Даний тип файлу не можна переглянути</div>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions>
  <button mat-raised-button (click)="closeDialog()">Закрити</button>
</mat-dialog-actions>
