<!--header with sidenav-->
<mat-sidenav-container>
  <!--sidenav-->
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav (closeSidenav)="sidenav.close()"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <!--header-->
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <!--content goes here!-->
    <div class="wrap-content">
    <div>Ad asperiores assumenda beatae blanditiis, consequuntur cumque deserunt dolorem eius enim eos excepturi
      exercitationem fuga id iure nihil non nostrum quam quibusdam quidem quo ratione rerum tenetur veniam veritatis
      voluptas.
    </div>
    <div>Ad aliquid dicta doloribus magni. A, amet culpa ducimus, enim fugiat fugit nisi, quae quisquam saepe totam
      veniam voluptates? Earum error esse et iure libero magnam quia quo tempore voluptatibus.
    </div>
    <div>Aliquam amet quod ratione sequi ullam. Accusantium cumque incidunt ipsa ipsam laudantium maiores minus nulla
      placeat rem, tempore? Asperiores assumenda aut dignissimos eligendi eveniet officia quibusdam, repellat
      repellendus saepe voluptates.
    </div>
    <div>Alias, aliquid aspernatur commodi doloremque ducimus facilis ipsam magnam quae rem vel! Accusantium atque
      fugiat officiis recusandae repellendus voluptatibus. Consectetur enim fuga itaque labore optio quos repellendus
      saepe tempore tenetur!
    </div>
    <div>Dignissimos excepturi explicabo id illo laboriosam nam nostrum, possimus quisquam totam velit! Alias aspernatur
      consectetur dolor dolorum ea, eligendi facere, incidunt maxime nesciunt perspiciatis, porro quaerat reprehenderit
      saepe unde voluptates?
    </div>
    <div>Architecto doloribus libero nobis. Animi at beatae culpa dolor dolores enim expedita impedit iusto natus
      nesciunt, non pariatur perferendis placeat quam repellendus sequi sunt velit? Ad ex explicabo hic reprehenderit!
    </div>
    <div>Alias architecto asperiores aut commodi cupiditate deleniti doloremque dolorum facere facilis illum in nostrum,
      odio quasi quibusdam quis recusandae rerum totam veniam voluptas voluptatibus? Consequuntur deleniti inventore
      ipsam qui tempora?
    </div>
    <div>Accusamus accusantium commodi corporis culpa debitis, dignissimos dolorem doloremque dolores doloribus eligendi
      enim eos, facere hic neque nobis non officiis placeat porro provident quas quidem quis reprehenderit. Doloribus,
      ipsum quam?
    </div>
    <div>Animi consectetur corporis doloribus eligendi expedita hic modi pariatur praesentium quae sit? Architecto aut
      dolorum neque officia rerum. Doloremque, error eveniet impedit maiores molestias optio porro quas repellendus
      rerum totam?
    </div>
    <div>Culpa modi quas saepe sequi voluptate? Ab doloribus enim excepturi fugit impedit inventore ipsam nam nemo
      placeat porro ratione, reiciendis tempore. Animi at atque culpa laborum, nulla quae recusandae reprehenderit?
    </div>
    <div>Aliquid illo illum labore mollitia possimus reiciendis sint. Amet at atque consequatur culpa distinctio
      doloremque est iusto laborum magni maiores nulla, numquam, obcaecati perspiciatis reiciendis rem saepe sit sunt
      veniam.
    </div>
    <div>Assumenda cumque deserunt, ipsam laboriosam maiores officiis quis. Ab aliquam asperiores dicta dolores eius,
      eligendi enim, illo magnam minus natus obcaecati qui quod ratione. Alias debitis esse fuga libero quaerat!
    </div>
    <div>A assumenda atque autem consequuntur dolor dolore eos ex exercitationem expedita facilis ipsam itaque
      laudantium magnam molestias nam natus non placeat quam, rem repellat saepe sed similique sit totam velit!
    </div>
    <div>Accusantium consectetur earum eos ex exercitationem facere ipsa ipsum possimus quaerat voluptatem? Consequuntur
      debitis doloribus eaque eligendi est expedita, facere fugiat itaque magni non obcaecati quaerat, sequi! Cupiditate
      error, suscipit.
    </div>
    <div>Debitis ea ex fuga hic itaque nisi quam ratione similique. Ad blanditiis deserunt eaque eius, facere, in ipsam
      iusto numquam obcaecati optio praesentium repellendus rerum sed, voluptate voluptatem voluptatibus voluptatum.
    </div>
    <div>Enim fugiat id iste nobis quia vero, voluptas! Aliquid architecto aspernatur consequuntur doloremque et eum
      eveniet ex iusto, labore laboriosam laborum maxime molestiae quidem quos repudiandae tenetur voluptas? Quaerat,
      quia.
    </div>
    <div>Architecto consectetur cupiditate doloremque expedita hic maiores, minima, neque nesciunt officia officiis
      quibusdam rerum! Dicta ducimus earum, exercitationem fugiat impedit incidunt iste nam odit quia, reiciendis rem
      repellendus temporibus totam.
    </div>
    <div>Accusamus adipisci aliquid aperiam at consequatur consequuntur corporis delectus dolorum earum eligendi fugiat
      hic inventore iusto magni minima neque omnis perspiciatis placeat, porro praesentium quasi quod quos similique
      veritatis vitae!
    </div>
    <div>Eligendi illo ipsam, necessitatibus placeat rem soluta voluptate. Asperiores ea illum incidunt minus officiis
      optio quasi sit vero? Accusantium amet cum distinctio doloribus impedit ipsam neque officiis perferendis
      praesentium quaerat?
    </div>
    <div>Alias blanditiis consectetur dolorem error esse explicabo illo labore quam, quis quos ratione similique
      tenetur, vero? Aut laborum odio officiis repudiandae ullam? At, error expedita itaque labore laborum libero vero.
    </div>
    <div>Adipisci corporis debitis, eos esse modi neque quaerat sunt voluptates? Ad culpa possimus quo repudiandae
      sapiente. Excepturi harum minus molestias nam nihil nisi nostrum officiis perferendis reiciendis repellendus,
      repudiandae sit!
    </div>
    <div>Aperiam architecto et inventore minus neque perferendis quaerat repellat? Ab corporis illum minima? Doloremque
      eveniet exercitationem facilis illo iste laudantium minus, mollitia natus, nesciunt nobis placeat, quisquam quo
      vitae voluptatibus.
    </div>
    <div>Amet debitis eum maiores. Commodi dignissimos ea eos excepturi laboriosam laudantium minima, natus odio
      officia, pariatur quasi velit? Animi beatae consectetur consequatur, ducimus mollitia natus neque quas ullam!
      Eius, eos!
    </div>
    <div>Ab accusamus, aut commodi consequatur dolore dolorum eius et facere facilis fuga fugit itaque laudantium minus
      nihil odio optio, placeat quam quas quasi repudiandae rerum soluta tempora totam vel voluptas?
    </div>
    <div>Earum et exercitationem id omnis rem. Aliquam animi beatae commodi, deserunt doloribus iusto laudantium
      molestias nobis nulla porro possimus repellendus sunt, temporibus velit vero. Alias animi eveniet nostrum quis
      vero?
    </div>
    <div>Ab autem, consectetur cumque dolor eum excepturi explicabo facere ipsam labore libero maxime minima nihil
      quisquam, repudiandae similique, temporibus voluptatem. Aliquid fugiat harum, inventore nobis nostrum odit
      possimus tempora totam!
    </div>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>

