@import "../../../styles.scss";

mat-sidenav-container, mat-sidenav-content, mat-sidenav{
  height: 100%;
}
.mat-drawer-container{
  background-color: $light-color;
}

.wrap-content {
  padding: 2%;
  padding-top: 75px;
  padding-bottom: 75px;
}
