@import "../../../styles.scss";

:host {
  background: $light-color; // body background
}

.wrap-content {
  padding: calc(2% + 75px) 2% 2% 2%; // for header and footer

  @media only screen and (max-device-width: 480px) {
    padding: calc(2% + 75px) 2%;
  }
}
