@import "../../../../styles";

.options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
  flex-wrap: wrap;

  form {
    mat-form-field {
      width: 2em;

      input {
        text-align: center;
      }
    }
  }

  .transformOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
  }

  .option {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main-color;
    }

    mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
    }
  }

  @media (max-width: 640px) {
    .transformOptions {
      width: 100%;
    }
  }
}

.viewerContent {
  display: flex;
  background-color: grey;
  max-height: 500px;

  .imgViewer {
    width: 100%;
    overflow: auto;
  }
}
