table {
  width: 100%;
}

#buttonAdd {
  position: fixed;
  bottom: 1.3em;
  right: 0.25em;
  font-size: 2.2em;
  transition: bottom 0.9s;
}

th.mat-sort-header-sorted {
  color: black;
}

.edit {
  font-size: 1.8em;
  cursor: pointer;
} 

.mat-form-field {
  font-size: 1.2em;
  width: 90%;
  padding-left: 0.5em;
}

.filterBlok {
  background-color: white;
}