table {
  width: 100%;
}

#buttonAdd {
  position: fixed;
  bottom: 0.8em;
  right: 0.15em;
  font-size: 3.1em;
  transition: bottom 0.9s;
  color: #1565c0;
  cursor: pointer;
}

th.mat-sort-header-sorted {
  color: black;
}

.edit {
  font-size: 1.8em;
  cursor: pointer;
}

.mat-form-field {
  font-size: 1.2em;
  width: 95%;
  padding-left: 0.5em;
}

.filterBlok {
  width: 95%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  table,
  mat-accordion {
    width: 65vw !important;
  }

  .filterBlok {
    width: 65%;
  }
}

mat-accordion {
  width: 100%;
}

mat-expansion-panel,
mat-accordion {
  margin-top: 0.7em;
}

::ng-deep .groups-mat-exp-pnl .mat-expansion-panel-body {
  padding: 0;
}
