table {
  width: 100%;
}

#buttonAdd {
  position: fixed;
  bottom: 0.8em;
  right: 0.15em;
  font-size: 3.1em;
  transition: bottom 0.9s;
  color: #1565c0;
  cursor: pointer;
}

th.mat-sort-header-sorted {
  color: black;
}

.edit {
  font-size: 1.8em;
}

.mat-form-field {
  font-size: 1.2em;
  width: 90%;
  padding-left: 0.5em;
}

.filterBlok {
  background-color: white;
}

td.mat-cell:first-of-type:hover {
  cursor: pointer;
}

td.mat-cell:nth-child(2):hover {
  cursor: pointer;
}

tr.mat-footer-row,
tr.mat-row:hover {
  background-color: rgb(187, 184, 184);
}

tr.mat-footer-row,
tr.mat-row:active {
  background-color: rgb(58, 55, 55);
}
