



  <br>
  <button (click)="test()" (click)="toggleForAcniveGroups = !toggleForAcniveGroups">показати</button>
  <br>
 

   <div class="example-button-row">
      
      <button mat-fab color="primary" routerLink="add-modify" (click) = "dataAddGroup()">+</button>
    
    </div>


<router-outlet></router-outlet>
<div  *ngIf="toggleForAcniveGroups">


<br><br><br>


<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="groupsTrue" class="mat-elevation-z8">
  
          <!-- Name Column -->
          <ng-container matColumnDef="className">
            <th mat-header-cell *matHeaderCellDef> Назва класу </th>
            <td mat-cell *matCellDef="let element"> {{element.className}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="classYear">
            <th mat-header-cell *matHeaderCellDef> Рік класа </th>
            <td mat-cell *matCellDef="let element"> {{element.classYear}} </td>
          </ng-container>
        
           <!-- Name Column -->
           <ng-container matColumnDef="isActive">
              <th mat-header-cell *matHeaderCellDef> Редагувати клас </th>
              <td mat-cell *matCellDef="let element"> <a  (click) = "dataChengGroup(element)" routerLink="add-modify" >⋮</a> </td>
            </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-expansion-panel>
    
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Self aware panel
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <table mat-table [dataSource]="groupsFolse" class="mat-elevation-z8">
  
          <!-- Name Column -->
          <ng-container matColumnDef="className">
            <th mat-header-cell *matHeaderCellDef> Назва класу  </th>
            <td mat-cell *matCellDef="let element"> {{element.className}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="classYear">
            <th mat-header-cell *matHeaderCellDef> Рік класа </th>
            <td mat-cell *matCellDef="let element"> {{element.classYear}} </td>
          </ng-container>
        
           <!-- Name Column -->
           <ng-container matColumnDef="isActive">
              <th mat-header-cell *matHeaderCellDef> Редагувати клас </th>
              <td mat-cell *matCellDef="let element"> <a  (click) = "dataChengGroup(element)" routerLink="add-modify" >⋮</a> </td>
            </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-expansion-panel>
  </mat-accordion>

</div>



