$title-color: rgba(210, 230, 240, 0.5);
$invalid-color: rgb(112, 5, 5);

.title-schedule {
    background-color: $title-color;
    margin: 0 0 0.5em 0;
    box-shadow: 1px 1px 4px #000;
}
.title-schedule h5 {
    margin: 0;
    padding: 0.3em;
    text-align: center;
}
form {
    font-size: 0.8em;
}
.schedule-top {
    display: flex;
    width: 95%;
    justify-content: space-around;
}
.datePiker {
    width: 30%;
}

.week-schedule {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}
.day-schedule {
    width: 50%;
    height: 33%;
}



input.ng-touched.ng-invalid{
    border-color: $invalid-color;
}

/* Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
    .schedule-top {
        flex-direction: column;
    }
    .datePiker {
        width: 100%;
    }
}
