<div class="title-schedule">
  <h5>РОЗКЛАД УРОКІВ</h5>
</div>
<form [formGroup] = "frmSchedule" (ngSubmit) = "onSubmit()">
  <div class="schedule-top">
    <mat-form-field class="datePiker">
      <input matInput [matDatepicker]="pickerStart" [placeholder]="dateTermStartMsg" formControlName="dateTermStart">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="datePiker">
        <input matInput [matDatepicker]="pickerEnd" [placeholder]="dateTermEndMsg" formControlName="dateTermEnd">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-select [placeholder]="selectClassMsg" formControlName="selectedClass">
        <mat-option *ngFor="let class of arrClassList" [value]="class.id">{{ class.className }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div> <!--end of top-->

  <div class="week-schedule">
    <ng-container *ngFor="let day of weekDayName; let i=index">
      <app-daily-schedule [arrSubjectsList]="arrSubjectsList" [legendDay]="weekDayName[i]" class="day-schedule"></app-daily-schedule>
    </ng-container>


  </div>

  <button mat-button type="submit" [disabled]="!frmSchedule.valid">Submit</button>
</form>

<!-- for test -->
<div> {{ frmSchedule.value | json }}</div>
<div class=errorMsg *ngIf="isInputInvalid('selectedClass')">
  invalid class - Error
</div>
