<div class="title-schedule">
  <h5>РОЗКЛАД УРОКІВ</h5>
</div>
<form [formGroup] = "frmSchedule" (submit) = "onSubmit()">
  <div class="schedule-top">
    <mat-form-field class="datePiker">
      <input matInput [matDatepicker]="pickerStart" [placeholder]="dateTermStartMsg" formControlName="dateTermStart">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="datePiker">
        <input matInput [matDatepicker]="pickerEnd" [placeholder]="dateTermEndMsg" formControlName="dateTermEnd">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-select [placeholder]="selectClassMsg" formControlName="selectedClass">
        <mat-option *ngFor="let class of arrClassList" [value]="class.id">{{ class.className }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div> <!--end of top-->

  <div class="week-schedule">
    <fieldset formArrayName="mondaySchedule">
      <legend>Понеділок</legend>
      <div *ngFor="let lesson of mondaySchedule.controls; let i=index">
        <div>
          <span>{{ i + 1 }}. </span>

          <mat-form-field class="select-subject">
            <mat-select [formControl]="lesson.controls['firstGroup']" placeholder="Виберіть предмет" (click)="addSubjest(i)">
              <mat-option *ngFor="let subj of arrSubjectsList" [value]="subj.subjectId"> {{ subj.subjectName }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="select-subject">
            <mat-select [formControl]="lesson.controls['secondGroup']" [placeholder]="secondGroupMsg">
              <mat-option *ngFor="let subj of arrSubjectsList" [value]="subj.subjectId"> {{ subj.subjectName }}</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-icon-button *ngIf="!this.disabled" (click)="addSecondGroup(i)">
            <mat-icon>add_box</mat-icon>
          </button>

          <button mat-icon-button *ngIf="!this.disabled" (click)="removeSubjest(i)">
              <mat-icon>delete</mat-icon>
          </button>
        </div>

      </div>
    </fieldset>
    <app-daily-schedule   (dataChanged)='dataChangeHandler($event)'></app-daily-schedule>
  </div>

  <button mat-button>Click me!</button>
</form>

<!-- for test -->
<div> {{ frmSchedule.value | json }}</div>
<div class=errorMsg *ngIf="isInputInvalid('selectedClass')">
  invalid class - Error
</div>
