$title-color: rgba(210, 230, 240, 0.5);
$invalid-color: rgb(112, 5, 5);
$shadow-color: rgb(182, 182, 182);

.title-schedule {
    margin: 0 0 0.5em 0;
    box-shadow: 1px 1px 5px $shadow-color;
}
.title-schedule h5 {
    margin: 0;
    padding: 0.3em;
    text-align: center;
}
form {
    font-size: 0.8em;
}
.schedule-top {
    display: flex;
    width: 95%;
    justify-content: space-around;
}
.datePiker {
    width: 30%;
}
.week-schedule {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 0.7em;
    box-shadow: 0px 0px 15px $shadow-color;
}
.mondaySubjects {
    grid-area: 1/1;
}
.tuesdaySubjects {
    grid-area: 2/1;
}
.wednesdaySubjects {
    grid-area: 3/1;
}
.thursdaySubjects {
    grid-area: 1/2
}
.fridaySubjects {
    grid-area: 2/2
}
.saturdaySubjects {
    grid-area: 3/2
}
input.ng-touched.ng-invalid{
    border-color: $invalid-color;
}

/* Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
    .schedule-top {
        flex-direction: column;
    }
    .datePiker {
        width: 100%;
    }
    .week-schedule {
        display: flex;
        flex-direction: column;
        width: 95%;
    }
}
