<form [formGroup] = "frmSchedule" (ngSubmit) = "onSubmit()">
  <div class="schedule-top" >
    <mat-form-field class="datePiker">
      <input matInput [matDatepicker]="pickerStart"
       [placeholder]="dateTermStartMsg"
       [formControl]="frmSchedule.controls.dateTermStart">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
      <mat-error *ngIf="isInputInvalid('dateTermStart')">Не визначено дату початку семестру</mat-error>
      <mat-error *ngIf="frmSchedule.get('dateTermStart').getError('invalidDate') &&  frmSchedule.get('dateTermStart').touched">
        {{ frmSchedule.get('dateTermStart').getError('invalidDate') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="datePiker">
        <input matInput [matDatepicker]="pickerEnd"
         [placeholder]="dateTermEndMsg"
         [formControl]="frmSchedule.controls.dateTermEnd">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
        <mat-error *ngIf="isInputInvalid('dateTermEnd')">Не визначено дату закінчення семестру</mat-error>
        <mat-error *ngIf="frmSchedule.get('dateTermEnd').getError('invalidDate') && frmSchedule.get('dateTermEnd').touched">
            {{ frmSchedule.get('dateTermEnd').getError('invalidDate') }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select [placeholder]="selectClassMsg"
       [formControl]="frmSchedule.controls.selectClass"
       (selectionChange)="selectedClass($event.value.id)">
        <mat-option *ngFor="let class of arrClassList" [value]="class">
          {{ class.className }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isInputInvalid('selectClass')">Не обрано клас</mat-error>
    </mat-form-field>
  </div> <!--end of top-->

  <div class="week-schedule">
    <app-daily-schedule *ngFor="let day of weekDayName; let i=index"
      [arrSubjectsList]="arrSubjectsList"
      [legendDay]="day.legendDay"
      [class]="day.dailySubjectsName"
      (addDailySubjects)="onAddDailySubjects($event, day.dailySubjectsName)">
    </app-daily-schedule>
  </div>

  <button mat-raised-button type="submit" class="save-button">Зберегти</button>
  <span [class]="messageClass">{{ messageData }}</span>
</form>
