@import "~@angular/material/prebuilt-themes/indigo-pink.css";
$main-color: #1565C0;
$dark-color: darken($main-color, 15%);
$light-color: lighten($main-color, 55%);

html, body {
  height: 100%;
  background-color: $light-color;
}

body {
  margin: 0;
}
