$main-color: #1565c0;
$dark-color: darken($main-color, 15%);
$light-color: lighten($main-color, 55%);

html {
  height: 100%;
  background-color: $light-color;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
