@import "../../../styles";

.mat-toolbar { //footer
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  background: $main-color;
  color: white;
  height: 50px;
  padding: 0;
  display: none; // hide on medium and large screens

  /* Most of the Smartphones (Portrait) */
  @media only screen and (max-width: 600px) {
    display: block; // showMessage
  }
  /* Most of the Retina Display Smartphones (Portrait) */
  @media only screen and (max-width: 600px) and (min-resolution: 2dppx) and (orientation: portrait) {
    display: block; // showMessage
  }
}

app-admin-footer-menu { // menu list
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


