@import "../../../styles.scss";

.mat-toolbar { //footer
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $main-color;
  color: white;
  height: 50px;
  padding: 0;
  display: none; // hide on medium and large screens

  /* Most of the Smartphones (Portrait) */
  @media only screen and (max-width: 480px) {
    display: block; // show
  }
  /* Most of the Retina Display Smartphones (Portrait) */
  @media only screen and (max-width: 480px) and (min-resolution: 2dppx) and (orientation: portrait) {
    display: block; // show
  }

  app-admin-footer-menu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


