::ng-deep .teacher-details-dialog {
  .mat-dialog-container .avatar {
    display: flex;
    justify-content: center;
  }

  & .mat-dialog-container h3 {
    text-align: center;
    line-height: 0.6em;
  }

  & .mat-dialog-container h2 {
    text-align: center;
  }

  & .mat-dialog-container img {
    border-radius: 6.25em;
    padding: 0.2em;
    border: 0.2em solid rgb(63, 81, 181);
    overflow: hidden;
    height: 9.375em;
    width: 9.375em;
    position: relative;
    margin: auto;
  }

  & mat-dialog-container {
    display: flex !important;
    height: inherit !important;
    margin: 0.5em;
  }

  & app-dialog-overview {
    margin: auto !important;
  }

  & .details-dialog-divider {
    margin: 0.5em 0 1em;
  }
}

#not-assigned {
  color: rgb(107, 103, 103);
  text-align: center;
}

#buttons-area {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 1em 0;
}

#info-area {
  display: flex;
}

#info-area > div {
  margin: auto;
}

p,
h2,
h3 {
  color: rgb(107, 103, 103);
}

p {
  margin: 0.4em 0;
}
