<mat-card *ngIf="status === 'gettingData'">
  <mat-card-header>
    Зміна паролю
  </mat-card-header>
  <form [formGroup]="changePasswordForm" (ngSubmit)="submitPasswordChange()" >
    <mat-form-field>
      <input matInput formControlName="password" type="password" placeholder="Новий пароль">
      <mat-error *ngIf="changePasswordForm.controls.password.hasError('required')">
        Ви не можете залишити це поле пустим
      </mat-error>
      <mat-error *ngIf="changePasswordForm.controls.password.hasError('minlength')">
        Новий пароль не повинен бути коротшим ніж 8 символів
      </mat-error>
      <mat-error *ngIf="changePasswordForm.controls.password.hasError('pattern')">
        Пароль може містити лише букви, цифри і символ підкреслення
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="confirmPassword" type="password" placeholder="Повторіть пароль">
      <mat-error *ngIf="changePasswordForm.controls.confirmPassword.hasError('confirmPasswordError')">
        Підтвердження не відповідає вашому паролю
      </mat-error>
    </mat-form-field>
    <button mat-button class="matButton">НАДІСЛАТИ</button>
  </form>
</mat-card>
<mat-card class="loading" *ngIf="status === 'waitingResponse'">
  <mat-spinner></mat-spinner>
</mat-card>
<mat-card class="response" *ngIf="status === 'response'">
  <mat-card-header>
    Відновлення паролю
  </mat-card-header>
  <mat-card-content>
    {{response}}
    <button class="matButton" mat-button routerLink="">НА ГОЛОВНУ</button>
  </mat-card-content>
</mat-card>
