@import "../../../styles";

mat-card {
  width: 20em;
  height: 16em;
  display: flex;
  align-items: center;
  flex-direction: column;

  mat-card-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    padding: 0.5em 0;
    color: white;
    border-radius: 0.2rem;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 1em 0 0 0;

    mat-form-field {
      width: 80%;
    }

    button {
      margin-top: 2em;
    }
  }

  @media (max-width: 480px) {
    width: 85vw;

    form {
      mat-form-field {
        width: 80%;
      }
    }
  }
}

.matButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $main-color;
  width: 10em;
  height: 3em;
  font-size: 0.9em;
  color: white;

  &:hover {
    background-color: $main-hover-color;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.response {
  mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    font-size: 1em;
    color: grey;
    padding: 1em 1em 0 1em;
  }
}

::ng-deep {
  & .mat-card-header-text {
    margin: 0 !important;
  }
}
